*{
    margin: 0;
    padding: 0;
}
.Logo, .Top_menu{
    display: inline-block;
    margin-right: 25px;
}
.Top_menu li{
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
}
.Top_menu a{
    font-family: arial;
    color: green;
    vertical-align: middle;
}
.Top_menu a:hover{
    color: yellow;

}
.Logo{
    vertical-align: middle;
}
.Brawlers a:hover{
    color: yellow;
}
.youtube{
    background-color: #ff0000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    background-image: linear-gradient(
    45deg, 
    #ff0000 33%,
    #ff4500 33%,
    #ff4500 40%,
    #ffff00 40%,
    #ffff00 47%,
    #008000 47%,
    #008000 54%,
    #00bfff 54%,
    #00bfff 61%,
    #0000ff 61%,
    #0000ff 68%,
    #800080 68%
    );
    animation: text-animate-rev .75s ease forwards;
}
.youtube:hover{


    animation: text-animate .75s ease-in forwards;
}
@keyframes text-animate{
    0%{
        background-size: 100%;
    }
    80%{
        background-size: 650%;
    }
    100%{
        background-size: 650%;
    }
}
@keyframes text-animate-rev{
    0%{
        background-size: 650%;
    }
    80%{
        background-size: 650%;
    }
    100%{
        background-size: 100%;
    }
}